<h2>You have found one of our fantastic deals!</h2>
<div class="container">
  <p><strong>Title: </strong><%= @foo.short_title %></p>
  <p><strong>What to expect: </strong> <%= sanitize @foo.what_to_expect%></p>
  <p><strong>About: </strong> <%= sanitize @foo.about%></p>
</div>

