<h2>You have found one of our fantastic deals!</h2>

<div class="container">
<%= %>
<p>Title: <%= @single_deal["deal"]["short_title"] %></p>
<p>What to expect: <%= sanitize @single_deal["deal"]["what_to_expect"] %></p>
<p>About: <%= sanitize @single_deal["deal"]["about"] %></p>
</div>
